body {
    background-color: #1b2aac; 
    margin: 0; 
    padding: 0; 
  }

.counter-display {
    text-align: center;
    margin: 400px 0;
  }
  
  .counter-display div {
    display: inline-block;
    font-size: 100px;
    background-color: black;
    color: white;
    width: 80px;
    border-radius: 50px; 
    padding: 10px; 
    margin: 0 5px; 
  }
  

  .clock {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    padding: 5px;
    background-size: cover; 
    background-repeat: no-repeat;
  }
  